@import url("NOVO_PROJETO/header.css");
@import url("NOVO_PROJETO/banner.css");
@import url("NOVO_PROJETO/carrossel.css");
@import url("NOVO_PROJETO/topicos.css");
@import url("NOVO_PROJETO/contato.css");
@import url("NOVO_PROJETO/rodapé.css");


hr {
    margin: 0;
}


.rodapé {
    background-color: var(--branco);
    padding: 1em;
}







































